.viewer {
    position: relative;
    width: 100%;
    /* height: 400px; */
    max-width: 1200px;
    margin: 0px auto;
    overflow: hidden;
    outline: none;
    border: 2px solid black;
  }
  
  .fullscreen-container .viewer {
    max-width: none;
    height: 100%;
  }
  
  .viewer:after {
    position: relative;
    display: block;
    content: "";
    padding-top: 60%;
    width: 100%;
    z-index: -1;
  }
  
  .viewer .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .viewer canvas {
    width: 100%;
    height: 100%;
  }
  
  .viewer video {
    position: absolute;
    visibility: hidden;
  }

  .selector {
    float: right;
    font-size: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .dropdown-menu {
    top: 100%;
    left: 0;
    z-index: $zindex-dropdown;
    float: left;
    min-width: $dropdown-min-width;
    padding: $dropdown-padding-y 0;
    margin: $dropdown-spacer 0 0; // override default ul
    font-size: $font-size-base; // Redeclare because nesting can cause inheritance issues
    color: $body-color;
    text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
    list-style: none;
    background-color: $dropdown-bg;
    background-clip: padding-box;
    border: $dropdown-border-width solid $dropdown-border-color;
    @include border-radius($dropdown-border-radius);
    @include box-shadow($dropdown-box-shadow);
  }