.viewer {
    position: relative;
    width: 100%;
    /* height: 400px; */
    max-width: 800px;
    margin: 0px auto;
    overflow: hidden;
    outline: none;
  }
  
  .fullscreen-container .viewer {
    max-width: none;
    height: 100%;
  }
  
  .viewer:after {
    position: relative;
    display: block;
    content: "";
    padding-top: 60%;
    width: 100%;
    z-index: -1;
  }
  
  .viewer .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .viewer canvas {
    width: 100%;
    height: 100%;
  }
  
  .viewer video {
    position: absolute;
    visibility: hidden;
  }